<a href="https://colab.research.google.com/github/Omdena-Bhutan/starter-assignment-NalinPradhan/blob/main/Control_Flows(assignment).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conditional Statements
## If statement

In [ ]:
x = 10
if x > 5:
  print("X Is Greater than 5")

X Is Greater than 5

# Assignment:
You have a Cinema you are operating giving tickets based on age
- Children (Below 12 years) pay 300
- Teenager (12 and 17) Pay 500
- Adults (18 - 59) Pay 800
- Senoirs (60+ ) pay 400

Write a python program that will ask
1. Ask the user to enter the age
2. Uses an if statement to decide the ticket price
3. print "Your ticket price is AMT: X" where X is the correct price

In [2]:
age = int(input("Enter your age: "))

if age < 12:
  price = 300
elif age >= 12 and age <= 17:
  price = 500
elif age >= 18 and age <= 59:
  price = 800
else:
  price = 400

print(f"Your ticket price is AMT: {price}")

Enter your age: 1
Your ticket price is AMT: 300

In [ ]:
a = 32
if a > 43:
  print("a is greater than 43")

# if-else

In [ ]:
age = 17
if age >= 18:
  print("You are an adult")
else:
  print("You are a minor")

You are a minor

# if-elif-else

In [ ]:
marks = 60

if marks >= 90:
  print("Grade A")
elif marks >= 70:
  print("Grade B")
elif marks >= 50:
  print("Grade C")
else:
  print("Grade is F")

Grade C

# Loops
- Used to iterate over a sequence (List, string, tuple, dictionary...)

- For loop
- Range
- While loop

In [ ]:
list_of_numbers = [1, 2, 3, 4, 5]

for number in list_of_numbers:
  num = number * 4
  print(num)

4
8
12
16
20

In [ ]:
# For loop
list_of_fruits = ["Apple", "Orange", "Banana"]
for fruit in list_of_fruits:
  print(fruit)

Apple
Orange
Banana

# Range

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# Range of even numbers from to 10
for x in range(2, 10, 2): # start, end, step
  print(x)

2
4
6
8

# Excercise
- Create aa program in python that will as someone to enter the range of numbers they want to create and give a range of number between 0 and the number and give only numbers that are divisible by 3

In [3]:
# Ask the user for a number
upper_limit = int(input("Enter the upper limit: "))

# Loop through numbers from 0 to upper_limit
for num in range(upper_limit + 1):
    if num % 3 == 0:
        print(num)

Enter the upper limit: 5
0
3

# While Loop
- Executes as long as the condition is True

In [ ]:
x = 2
while x <= 7:
  print("Number: ", x)
  x += 1

Number:  2
Number:  3
Number:  4
Number:  5
Number:  6
Number:  7

In [ ]:
x

8

# Assignment;
- Write a python program that;
1. Picks a secret number (e.g 7)
2. Asks the user to guess the number
3. keep asking until the user gueses correclty (Using the while loop)
4. Print "Congratulations, you gazed it right" when the answer is correct

In [4]:
# Secret number
secret_number = 7

# Ask user to guess until correct
guess = int(input("Guess the secret number: "))
while guess != secret_number:
    guess = int(input("Wrong guess. Try again: "))

print("Congratulations, you guessed it right!")

Guess the secret number: 5
Wrong guess. Try again: 7
Congratulations, you guessed it right!

# Loop Control Statements

In [ ]:
# Break - Used to exit the loop immediately
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
# Continue - Used to skip to the next iteration
for i in range(8):
  if i == 3:
    continue
  print(i)

0
1
2
4
5
6
7

In [ ]:
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
# Pass - Placeholder
for i in range(4):
  pass